body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.navbar {
    width: 100%;
    background-color: #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin: 0 10px;
    cursor: pointer;
}

.navbar .active {
    font-weight: bold;
}

.logo {
    width: 50px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.dossier-list {
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}
/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); /* Optional: slight slide effect */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.dossier-list ul {
    list-style: none;
    padding: 0;
}

.dossier-list li {
    margin: 10px 0;
    /* List item styling with animation */
    opacity: 0; /* Initially hidden */
    animation: fadeIn 0.5s forwards; /* Animation lasts 0.5 seconds */
}

.dossier-list a {
    text-decoration: none;  /* Remove underline */
}

/* Target odd items (1st, 3rd, 5th, etc.) and set their color to red */
.dossier-list ul li:nth-child(odd) a {
    color: red;
}

/* Target even items (2nd, 4th, 6th, etc.) and set their color to dark red */
.dossier-list ul li:nth-child(even) a {
    color: darkred;
}

