#app-mount .app-2rEoOp {
  background-image: url(https://images8.alphacoders.com/862/862300.jpg);
    background-size: 1920px 1080px
}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ {
  background: rgba(0, 0, 0, 0.5);
}
  .theme-dark,
    .theme-dark .container-3gCOGc,
    .da-applicationStore,
    .gradientOverlayRight-3vMuS8,
    .gradientOverlayLeft-3w159C,
    .scroller-9moviB,
    .scroller-2zSykH,
    .scroller-1JpcIc,
    .theme-dark .root-1BQpZw,
    .bg-h5JY_x,
    .scrollableContainer-38zsVD,
    .scrollableContainer-2NUZem
    {
      background: rgba(0, 0, 0, 0) !important;
        --background-primary: rgba(0, 0, 0, 0) !important;
        --background-secondary: rgba(0, 0, 0, 0) !important;
        --background-tertiary: rgba(0, 0, 0, 0) !important;
        --deprecated-panel-background: rgba(0, 0, 0, 0) !important;
    }

/**chatbar thing**/
.inner-zqa7da, .scrollableContainer-2NUZem{
    background-color: rgba(0,0,0,0.80);
}
.scrollableContainer-2NUZem{
    background-color: transparent;
}

.theme-dark .container-1r6BKw,
.membersWrap-2h-GB4{
  background: transparent;
  box-shadow: none;
  color: white;
}
/** scrollbar **/
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    border-color: transparent !important;
}
/**Weird content thing**/
.children-19S4PO:after{
height: 0px;
width: 0px;
}
/**Embed backgrounds**/
.embedFull-2tM8-- {
    background-color: rgba(47, 49, 54, 0.3);
    border-left: 4px solid rgb(0, 132, 180,1)
}
