#app-mount .app-2rEoOp {
  background-image: url(https://images7.alphacoders.com/997/997376.png);
    background-size: 1920px 1080px
}

.theme-dark .layer-3QrUeG,
.theme-dark .layers-3iHuyZ {
  background: rgba(0, 0, 0, 0.25);
}
  .theme-dark,
    .theme-dark .container-3gCOGc,
    .da-applicationStore,
    .gradientOverlayRight-3vMuS8,
    .gradientOverlayLeft-3w159C,
    .scroller-9moviB,
    .scroller-2zSykH,
    .scroller-1JpcIc,
    .theme-dark .root-1BQpZw
    {
      background: rgba(0, 0, 0, 0) !important;
        --background-primary: rgba(0, 0, 0, 0) !important;
        --background-secondary: rgba(0, 0, 0, 0) !important;
        --background-tertiary: rgba(0, 0, 0, 0) !important;
        --deprecated-panel-background: rgba(0, 0, 0, 0) !important;
    }

/**chatbar thing**/
.inner-zqa7da{
    background-color: rgba(0,0,0,0.80);
}
.theme-dark .container-1r6BKw,
.membersWrap-2h-GB4{
  background: transparent;
  box-shadow: none;
  color: white;
}
/** scrollbar **/
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    border-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    border-color: transparent !important;
}
